

:root{
    --font-style: 'Nunito Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    background-color: #0D1117;
    font-family: var(--font-style);
}

main {
    display: flex;
    height: 100vh;
}

.login-box{
    max-width: 500px;
    width: 90%;
    margin: auto;
    padding: 40px;
    background-color: #161B22;
    border-radius: 10px;
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box input{

    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 100%;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: relative;
    left: 0;
    top: -60px;
    padding: auto;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label{
    top: -85px;
    left: 0;
    color: #04BF9D;
    font-size: 12px;    
}

#submit{
    padding: 10px 20px;
    color: #CBBDDB;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow:  hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #04BF9D;
    background: #0D1117;
    margin: auto;
}

#submit:hover{
    background: #04BF9D;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #04BF9D, 0 0 25px #04BF9D, 0 0 25px #04BF9D, 0 0 10px #04BF9D;
}

.button-form{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}


#register{
    
    font-size: 14px;
    text-decoration: none;
    color: #CBBDDB;
    margin: auto;
    width: 60%;
    text-align: center;
}

#register-content{
    margin-top: 10px;
}

#register-content a{
    
    margin: auto;
    color: #04BF9D;
    text-decoration: none;
}

.error {
    color: rgb(255, 37, 37);
}

.login-box .user-box input:invalid{
    border-bottom: 1px solid rgb(233, 14, 14);
}

..login-box .user-box label:invalid{
    color: red;
}