<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="keywords" content="Rutas, amigo de rutas, unicor">
    <meta name="robots" content="index.follow">
    <meta name="author" content="">
    <title>Home</title>
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">


</head>
<body>
    <header class="header-Navegation">
        <nav class="navegation">
            
        </nav>
    </header>
    <main class="main-content">

        <section class="section-menu">
        <aside class="aside-menu">
            <ul class="option-list">
                <li class="opcion-item"><a href="#" class="opcion-button"> <span class="material-icons-outlined">person</span> <span class="title-opcion">Profile</span>  </a> </li>
                <li class="opcion-item"><a href="#" class="opcion-button"> <span class="material-icons-outlined">place</span> <span class="title-opcion">Routes</span> </a> </li>
                <li class="opcion-item"><a href="#" class="opcion-button"> <span class="material-icons-outlined">chat</span> <span class="title-opcion">Chat</span> </a> </li>
                <li class="opcion-item"><a href="#" class="opcion-button"> <span class="material-icons-outlined">directions_car_filled</span> <span class="title-opcion">Vehicle</span> </a> </li>
                <li class="opcion-item"><a href="#" class="opcion-button"> <span class="material-icons-outlined"> settings </span> <span class="title-opcion">settings</span> </a> </li>
                
            </ul>
        </aside>
        </section>

        <section class="section-cards">
            
            
            
            <article class="card-content">
            
           
            <div class="general-content">
                <figure class="img-content">
                    <img class="img-card" src="/img/wallpaperflare.com_wallpaper (1).jpg">
                </figure>

            <div class="score-rate">
                <div class="score-inf">
                    <h3>5.0</h3>
                    <p>Puntos</p>
                </div>
                <div class="rate-inf">
                    <h3>6K</h3>
                    <p>Tarifa</p>
                </div>
            </div>
             </div>
           

            <div class="Date-content">
                <div class="name-content">
                    <span class="name">Javier Eduardo Montes Delgado</span>
                </div>
                
            <div class="info-main">
                <div class="inf-content">
                    <span class="IDP">IDP0000000</span>
                    <span class="placa">F92-G39</span>
                    
                </div>

                <div class="button-content">
                    <a class="contact-button" href="#">Contactar</a>
                </div>

            </div>
            </div>

           <div class="block-routes">

            <div class="title-rout">
                <span>Rutas:</span>
            </div>
            
            <div class="routes-content">
               
                <ul class="list-routes">
                    <li class="item-routes"><a class="rout" href="#">Cerete</a></li>
                    <li class="item-routes"><a class="rout" href="#">Cerete</a></li>
                    <li class="item-routes"><a class="rout" href="#">Cerete</a></li>
                    <li class="item-routes"><a class="rout" href="#">Cerete</a></li>
                    <li class="item-routes"><a class="rout" href="#">Cerete</a></li>
                    <li class="item-routes"><a class="rout" href="#">Cerete</a></li>
                    
                </ul>
                
            </div>

            </div>
            </article>

            

        </section>
    </main>



</body>


</html>