<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="keywords" content="Rutas, amigo de rutas, unicor">
    <meta name="robots" content="index.follow">
    <meta name="author" content="">
    <title>Home</title>
    <link rel="stylesheet" href="./style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">


</head>
<body>
    <header class="header-Navegation">
        <nav class="navegation">
            
        </nav>
    </header>
    <main class="main-content">
        <section class="section-cards">

        </section>
        <section class="section-menu">
        <aside class="aside-menu">
            <ul>
                <li><span class="material-icons-outlined">person</span> <a href="#">Profile</a> </li>
                <li><span class="material-icons-outlined">place</span> <a href="#">Routes</a> </li>
                <li><span class="material-icons-outlined">chat</span> <a href="#">Chat</a> </li>
                <li><span class="material-icons-outlined">directions_car_filled</span> <a href="#">Vehicle</a> </li>
                
            </ul>
        </aside>
        </section>
    </main>



</body>


</html>